body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slide {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content {
  position: absolute;
  bottom: 10%;
  left: 7%;
  right: 10%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(29, 29, 29, 0.6));
  padding: 20px;
  border-radius: 10px;
  height: 35vh;
  width: 70%;
  color: #fff;
}

.MovieName {
  font-size: 36px; /* Slightly increased font size */
  font-weight: bold;
  font-family: "Montserrat", sans-serif; /* Experimenting with a different font family */
  color: #f9c930; /* Bright yellow color for the movie name */
}

.Genres {
  display: flex;
  margin-top: 10px;
}

.GenreBox {
  margin-right: 10px;
  padding: 10px 15px;
  border: 1px solid #636363;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom, transparent, #0e0e0e);
  font-family: "Roboto", sans-serif; /* Another font family */
  transition: background 0.3s;
}

.GenreBox:hover {
  background: linear-gradient(to bottom, #0e0e0e, #333333);
}

.details {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.text {
  font-size: 15px;
  margin-left: 0.3%;
  font-weight: 500;
  align-self: center;
  font-family: "Roboto", sans-serif;
  color: wheat; /* Light gray color for the details text */
}

.next-slick-arrow,
.prev-slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #f9c930; /* Bright yellow color for the arrows */
  font-size: 24px;
}

.next-slick-arrow {
  right: 10px;
}

.prev-slick-arrow {
  left: 10px;
  transform: rotate(180deg);
}

.overview {
  position: absolute;
  top: 60%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif; /* Another font family */
  font-weight: medium;
  color: wheat; /* Light gray color for the overview text */
}
