body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-right: -20px;
}

.slide {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content {
  position: absolute;
  bottom: 10%;
  left: 7%;
  right: 10%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  padding: 20px; /* Add padding for better readability */
  height: 35vh;
  width: 70%;
}

.MovieName {
  font-size: 32px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: gold;
}

.Genres {
  display: flex;
  margin-top: 10px;
}

.GenreBox {
  margin-right: 10px;
  padding: 10px 15px; /* Adjusted padding */
  border: 1px solid #4d4d4d; /* Slightly darker border color */
  border-radius: 8px; /* Increased border radius for a softer look */
  font-size: 14px; /* Slightly smaller font size */
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom, #333333, #0e0e0e); /* Gradient background */
  font-family: "Poppins", sans-serif;
  transition: background 0.3s; /* Smooth transition on hover */
}

.GenreBox:hover {
  background: linear-gradient(to bottom, #0e0e0e, #333333); /* Inverted gradient on hover */
}
.details {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.text {
  font-size: 15px;
  color: #ffffff;
  margin-left: 0.3%;
  font-weight: 500; /* Increased font weight for better visibility */
  align-self: center;
  font-family: "Poppins", sans-serif;
}

.next-slick-arrow,
.prev-slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

.next-slick-arrow {
  right: 10px;
}

.prev-slick-arrow {
  left: 10px;
  transform: rotate(180deg);
}
.overview {
  position: absolute;
  top: 60%;
  font-size: 18px;
  color: #fff;
  line-height: 2;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
}

